<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.555159 0.481816 0.438994" rpy="3.12733 -0.0879726 -1.58022" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.555159 0.481816 0.438994   0.703291 0.709505 -0.0360063 -0.0262248 base_link camera_color_optical_frame" />
</launch>
